body{
  background-color:#393E46 ;
}

.container
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white ;
  box-shadow: 0px 2px 8px #888888;
  width: 450px;
  height: 600px;
  text-align: center;
  font-family: 'Lobster', sans-serif;

}

h1
{
  margin: 12px 0;
}

.add-element
{
  margin: 12px 0;
}

input
{
  padding: 6px 4px;
  width: 70%;
}

button
{
  padding: 7px 14px;
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: #fafafa ;
}

.element-list
{
  height: 500px;
  overflow-y: auto;
}

ul
{
  padding: 15px;
}

li
{
  list-style: none;
  padding: 10px 5px;
  background-color: white;
  margin: 12px 0;
  box-shadow: 0px 2px 8px #888888;
  border-radius: 3px;
  transition: .4s;
}

button:hover
{
  background-color: #4ECCA3;
}

li:hover
{
  background-color: #EEEEEE;
}

.checked
{
  text-decoration: line-through;
  background-color: #EEEEEE;
}
